<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content  __large-wide">
  <div class="blade-inner">
    <form class="form" name="TranslateDescriptionForm">
      <div class="form-group">
        <label class="form-label">Description</label>
        <div class="form-input">
          <textarea required=""  data-uk-htmleditor="{mode:'tab'}" ng-model="blade.currentEntity.content" ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">{{ 'catalog.blades.editorialReview-detail.labels.language' | translate }}</label>
        <div class="form-input">
          <ui-select ng-model="blade.currentEntity.languageCode" ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'catalog.blades.editorialReview-detail.placeholders.language' | translate}}">{{$select.selected.languageCode}}</ui-select-match>
            <ui-select-choices repeat="lang.languageCode as lang in languages | filter: {languageCode: $select.search}">
              <span ng-bind-html="lang.languageCode | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Result</label>
        <div class="form-input">
          <textarea id="result" vc-uk-htmleditor="{mode:'tab'}" ng-model="result" readonly></textarea>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .uk-htmleditor-toolbar {
    display: none;
  }
  .uk-htmleditor-preview{
    height: 200px;
  }

  .uk-htmleditor-code {
    height: 200px;
  }

  .CodeMirror-vscrollbar{
    overflow : hidden;
   }

  .uk-htmleditor-code,
  .uk-htmleditor-preview {
    overflow-y : auto; 
  }

  .uk-htmleditor-code::-webkit-scrollbar,
  .uk-htmleditor-preview::-webkit-scrollbar {
    width: 8px;  
  }

</style>