<div class="blade-static __bottom" ng-include="'Modules/$(VirtoCommerce.Catalog)/Scripts/blades/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
  <div class="blade-inner">
    <form class="form" name="TranslateDescriptionForm">
      <div class="form-group">
        <label class="form-label">Description</label>
        <div class="form-input">
          <textarea required="" style="height:140px" ng-model="blade.currentEntity.content" ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">{{ 'catalog.blades.editorialReview-detail.labels.language' | translate }}</label>
        <div class="form-input">
          <ui-select ng-model="blade.currentEntity.languageCode" ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'catalog.blades.editorialReview-detail.placeholders.language' | translate}}">{{$select.selected.languageCode}}</ui-select-match>
            <ui-select-choices repeat="lang.languageCode as lang in languages | filter: {languageCode: $select.search}">
              <span ng-bind-html="lang.languageCode | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Result</label>
        <div class="form-input">
          <textarea id="result" style="height:140px" ng-model="result" readonly></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
